
.navp  .nav-link{
    margin-top: 54px;
 padding:0 24px 0 0!important;
}

.btn-shok{
    background: linear-gradient(248deg, #1B92C8 0%, #2C3636 100%) ;
    margin-top:37px;
    margin-left: 42.17px;
    width: 169px;
height: 58px;
}

li .nav-input{
    margin-top:41px;
    width: 326px;
    height: 50px;
}

.ulnav{
    display:flex;
    justify-content: center;
    align-items: center;

}

.nav a img{
    margin-top:60.14px;
    width: 80px;
    
}