<div class="logo-shok-big">
  <img src="../../assets/shoklogobig.png" alt="">
</div>

<section class="footer-container">
  
  <div class="container footer-info ">
    <div class="row">
      <div id="container-1" class="col-lg-3 ">
        <div class="row info-title mb-2">
          <h5><strong>Contact US</strong></h5>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <ul class="list-unstyled mb-0">
              <li class="mt-4">
                <h6></h6>
              </li>
              <li class="mt-4">
                <h6></h6>
              </li>
              <li class="mt-4">
                <img src="../../assets/contact.png" alt="" />
              </li>
            </ul>
          </div>
          <div class="col-lg-9">
            <ul class="list-unstyled">
              <li class="mt-4"><h6>+(1) 824-5428</h6></li>
              <li class="mt-4"><h6>Miami, United States</h6></li>
              <li class="mt-4"><h6>yfuentes@shokworks.io</h6></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 pl-4 col-md-3">
        <div class="row info-title mb-2 ">
          <h5><strong>Our Company</strong></h5>
        </div>

        <div class="row list-contact mt-3">
          <ul class="list-unstyled list mb-0">
            <!-- <li class="mb-1">
              <a href="">About</a>
            </li>
            <li class="mb-1"><a href="">Product</a></li>
            <li class="mb-1"><a href="">Portfolio</a></li>
            <li class=""><a href="">Career</a></li> -->
            <li class="">
              <a href="">About</a>
            </li>
            <li class=""><a href="">Product</a></li>
            <li class=""><a href="">Portfolio</a></li>
            <li id="last" class=""><a href="">Career</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="row info-title mb-2">
          <h5><strong>Social Contacts</strong></h5>
        </div>

        <div class="row list-contact mt-3">
          <ul class="list-unstyled list mb-0">
           <!--  <li class="mb-1"><a href="">Facebook</a></li>
            <li class="mb-1"><a href="">Linked In</a></li>
            <li class="mb-1"><a href="">Youtube</a></li> -->
            <li class=""><a href="">Facebook</a></li>
            <li class=""><a href="">Linked In</a></li>
            <li class=""><a href="">Youtube</a></li>
            <li class="last"><a href="">Vimeo</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="row">
          <div class="col-lg-12 info-title mb-2">
            <h5><strong>Address</strong></h5>
          </div>
          <div class="info-description">
            <p>
              Internet Systems Consortium, Inc. 950 Charter Street Redwood City,
              CA USA.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 info-title mb-2">
            <h5><strong>Follow Us</strong></h5>
          </div>
          <div class="row col-lg-12">
            <div class="col-lg-3 icon-social item">
              <div id="icon-fb" class="icon-social">
                <a href=""><img src="../../assets/facebook.png" alt="" /> </a>
              </div>
            </div>
            <div class="col-lg-3 icon-social item ">
              <div id="icon-sk" class="icon-social">
                <a href=""><img src="../../assets/skype.png" alt="" /> </a>
              </div>
            </div>
            <div class="col-lg-3 item icon-social">
              <div id="icon-lknd" class="icon-social">
                <a href=""> <img src="../../assets/linkedin.png" alt="" /> </a>
              </div>
            </div>
            <div class="col-lg-3 icon-social item">
              <div id="icon-ig" class="icon-social">
                <a href=""><img src="../../assets/instagram.png" alt="" /> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-contain">
    <div class="container-info">
      <div class="container footer-info2">
        <div class="row">
          <div class="col-lg-3 offset-3 pl-4">
            <ul class="list-unstyled">
              <li class="">
                <a href="">Blog</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 ">
            <ul class="list-unstyled">
              <li class="">
                <a href="">Skype</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
