<section class="info7">
    <div class="info7-container">
      <div id="b-big-1" class="bubble-tipe"></div>
      <div id="b-sm-1" class="bubble-tipe"></div>
      <div id="b-big-2" class="bubble-tipe"></div>
      <div id="b-sm-2" class="bubble-tipe"></div>
        <div id="b-sm-3" class="bubble-tipe"></div>
        <div id="b-md-1" class="bubble-tipe"></div>
      <!--   <div class="rectangule bubble-tipe"></div> -->
      <div id="cr-1" class="cr-md loader"></div>
      <div id="cr-2" class="cr-md loader"></div>
      <div id="cr-3" class="cr-lg loader"></div>
      <div id="cr-4" class="cr-lg loader"></div>
      <div id="cr-5" class="cr-lg loader"></div>
      <div id="cr-6" class="cr-lg loader"></div>
      <div class="info7-container-2">
        <div class="info7-div-title">
          <div class="info7-title">
            <h2>
              Facing Problem?<br />
              <strong>Lets Get In Touch Now</strong>
            </h2>
          </div>
  
        </div>
        <div class="contenido-info7">
          <div class="form-container">
            <div class="form-div">
              <form>
               
                <div class="form-row ">
                  <div class="form-group col-md-5 mr-4">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-control" id="inputFirstName" placeholder="Robert Lee" name="firstName">
                  </div>
                  <div class="form-group col-md-5">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder="Anderson"  name="lastName">
                  </div>
                </div>
  
                <div class="form-row ">
                <div class="form-group col-lg-12">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control" id="inputEmail" placeholder="kevin.jones@mail.com">
                </div>
              </div>
                
                <div class="form-row ">
                  <div class="form-group col-lg-12">
                    <label for="inputProblem ">Which Related Problem You Are Facing?</label>
                    <select id="inputState" class="form-control  col-lg-12" name="problem">
                      <option selected>Select One</option>
                      <option>...</option>
                    </select>
                  </div>
                </div>
                <div class="form-row ">
                  <div class="form-group col-lg-12">
                    <label for="inputMessage" class="">Type Your Message</label>
                    <input type="text" class="form-control col-lg-12" id="inputAddress" placeholder="Here goes your message" name="message">
                  </div>
                </div>
                <button type="submit" class="btn btn-shok-vacio">Sign in</button>
              </form>
  
  
  
            </div>
          </div>
          <div class="info7-container-image">
            <img src="../../assets/banner-1.png" alt="">
          </div>
        </div>
       
      </div>
    </div>
  </section>
