<section class="info6">
    <div class="info6-title">
      <h3>What Our <strong>Clientes Says?</strong></h3>
    </div>
    <div *ngFor="let user of users"></div>
    <div class="carousel-container">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        
        <div class="carousel-inner">
          <div class="carousel-item active" *ngFor="let user of users1">
            <div class="carousel-div">
              <div id="carousel-item-1" class="carousel-div-item">
                <img src="../../assets/Ellipse 344.png" alt="" />
              </div>
              <div id="carousel-item-2" class="carousel-div-item">
                <img src="../../assets/Ellipse 346.png" alt="" />
              </div>
              <div id="carousel-item-3" class="carousel-div-item">
                <img src="../../assets/Ellipse 347.png" alt="" />
              </div>
              <div class="quote-left">
                <img src="../../assets/quote-left.png" alt="" />
              </div>
              <div class="quote-right">
                <img src="../../assets/quote-left-1.png" alt="" />
              </div>
              <div class="carousel-item-p">
                <p>{{ user.company.catchPhrase }}</p>
              </div>
              <div id="carousel-item-4" class="carousel-div-item">
                <img src="../../assets/Ellipse 348.png" alt="" />
              </div>
              <div id="carousel-item-5" class="carousel-div-item">
                <img src="../../assets/Ellipse 350.png" alt="" />
              </div>
              <div class="carousel-item-name">
                <h3>
                  <strong>{{ user.name }}</strong>
                </h3>
              </div>
              <div class="carousel-item-work">
                <h4>
                  {{ user.company.bs
                  }}<!-- ,{{user2.company.name}} -->
                </h4>
              </div>
            </div>
          </div>
          <div class="carousel-item" *ngFor="let user2 of users">
            <div class="carousel-div">
              <div id="carousel-item-1" class="carousel-div-item">
                <img src="../../assets/Ellipse 344.png" alt="" />
              </div>
              <div id="carousel-item-2" class="carousel-div-item">
                <img src="../../assets/Ellipse 346.png" alt="" />
              </div>
              <div id="carousel-item-3" class="carousel-div-item">
                <img src="../../assets/Ellipse 347.png" alt="" />
              </div>
              <div class="quote-left">
                <img src="../../assets/quote-left.png" alt="" />
              </div>
              <div class="quote-right">
                <img src="../../assets/quote-left-1.png" alt="" />
              </div>
              <div class="carousel-item-p">
                <p>{{ user2.company.catchPhrase }}</p>
              </div>
              <div class="carousel-item-name">
                <h3>
                  <strong>{{ user2.name }}</strong>
                </h3>
              </div>
              <div class="carousel-item-work">
                <h4>
                  {{ user2.company.bs
                  }}<!-- ,{{user2.company.name}} -->
                </h4>
              </div>
              <div id="carousel-item-4" class="carousel-div-item">
                <img src="../../assets/Ellipse 348.png" alt="" />
              </div>
              <div id="carousel-item-5" class="carousel-div-item">
                <img src="../../assets/Ellipse 350.png" alt="" />
              </div>
              <div class="icon-container">
                <a
                class="mr-3"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="prev"
              >
                <img src="../../assets/arrow-left.png" alt="">
              </a>
              <a
              class=""
              href="#carouselExampleIndicators"
              role="button"
              data-slide="next"
            >
              <img src="../../assets/arrow-right.png" alt="">
            </a>
              </div>
              
            </div>
          </div>
        </div>

        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
  
  
