<div class="ulnav">
  <div class="imglogo">
    <img src="../../assets/shoklogo1.png" alt="" />
  </div>

  <ul class="nav justify-content-center navl">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Portafolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Carrer</a>
    </li>
    <li class="nav-item" id="ultli">
      <a class="nav-link" href="#">Blog</a>
    </li>
    <div class="nav-input-container">
      <div class="nav-input">
        <input type="text" />
        <!-- <a class="search-icon" href=""></a> -->
        <a href="" class="search-icon"
          ><img src="../../assets/search.png" alt=""
        /></a>
      </div>
    </div>
    <div class="button-contact">
      <button class="btn btn-shok">Contact US</button>
    </div>
  </ul>
</div>

<section class="info1">
  <div class="info-our-works">
    <div class="community1">
      <div class="imagen1">
        <img src="../../assets/community1.png" alt="Imagen 1" />
      </div>
      <div class="info1-title">
        <h3>A Brand New Way To See The World</h3>
      </div>
    </div>
  </div>
  <div>
    <div class="row btn-center">
      <button class="btn btn-shok ">Our Works</button>
      <button class="btn btn-shok-vacio">Know More</button>
    </div>
  </div>
</section>

<section class="info2">
  <div class="">
    <div class="info2-text">
      <h1 class="info2-text">The Process About Our Work</h1>
    </div>
    <div class="info2-p-text">
      <p>
        Alejandro Laplana leads and adaptable end-to-end development team
        consisting of a large portion of captable enterprise mixed reality
        solutions.
      </p>

      <button class="btn btn-shok-sm btn-shok-vacio">Know More</button>
    </div>
  </div>
  <div>
    <div class="info2-img">
      <img src="../../assets/what-can-you-build.png" alt="" />
    </div>
  </div>
</section>

<section class="info3">
  <div class="info3-img">
    <img src="../../assets/article-image-5.png" alt="" />
  </div>
  <div class="info3-text">
    <div>
      <div class="info3-title">
        <p>We are here to <strong>always help</strong> you</p>
      </div>
      <div class="info3-contein">
        <p>
          Shokworks team provide solutions and guidance to every project, taking
          the project vision to high level.
        </p>
      </div>
    </div>
  </div>
</section>





