 * {

}

.navl{
    margin:0;
}
 .ulnav .imglogo{
  width: 330px;
    height: 27px!important;
  margin:50px 60.31px 0 161.56px; 
 
 }

.ulnav img{
  height: 100%;
  width:100%;
}
.navl li {
  margin-top: 46px;
  text-align: left;
  font: 500 17px/26px 'Poppins';
  letter-spacing: 0;
  color: #185F7F;
  opacity: 1;

}

#ultli{
  margin-right:42px;
}

.navl .nav-input-container{
  width: 326px;
  height: 50px;
  margin-top:41px;
  border: 1px solid #C6BAF8;
  border-radius: 4px;
    opacity: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}
 .navl .nav-input img{
 
  width: 18px;
	height: 18px;
}


.navl  .nav-input input{
  margin-left: 21px;
  width: 269px;
  border: none;
	outline: none;
}

.btn-shok {
  background: linear-gradient(248deg, #1b92c8 0%, #2c3636 100%);
  margin-top: 37px;
  margin-left: 42.17px;
  width: 169px;
  height: 58px;
  text-align: center;
  font: 500 17px/26px 'Poppins';
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: capitalize;
  opacity: 1;
}

li .nav-input {
  margin-top: 41px;
  width: 326px;
  height: 50px;

}

.ulnav {
  display: flex;

}

.ulnav img {
  
  width: 100%;
  height: 100%;
}

.ulnav .imglogo{
  
    float: left;
    height: auto;
    width: 313.07px;
    
}
.info1-title{
  width: 550px;
  text-align: center;
  margin-top: 55px;
}
.info-our-works h3{
  font-family: 'Poppins';
  font-size:59px;
  color:#222222;
  font-weight:600;
}
section .info-our-works {
  width: 1920px !important;
  height: 765px !important;
  display: flex;
  justify-content: center;
  margin-bottom: 4.05px;
  text-align: center;

}
.community1 {
  margin-top: 77px;
}

div .btn-center {
  justify-content: center;
  font-family: "Poppins";
 
  height: 62px;
}
.info1 .btn-center .btn-shok {
  width: 182px;
  height: 62.46px;
  margin:0;
  margin-left: 46.84px;
  font-family: "Poppins";
  background: linear-gradient(248deg, #1b92c8 0%, #2c3636 100%);
}
.info1 .btn-center .btn-shok-vacio {
  width: 182px;
  height: 62.46px;
  border: 1px solid #185f7f;
  opacity: 1;
  color: #185f7f;
  opacity: 1;
  font-family: "Poppins";
  margin-left:46.84px;
font: 500 19px/29px 'Poppins';
letter-spacing: 0;
text-transform: capitalize;
opacity: 1;
}


.info2{
    margin-top: 144.65px;
    margin-left: 286px;
    display:grid!important;
    grid-template-columns:1fr 1fr;
    font-family: "Poppins";
}


.info2 .info2-text {
    width: 353px;
    height: 108px;
    margin-bottom:41px;
    margin-top:98.95px;
}


.info2  .info2-p-text{
   
    width: 587px;
    height: 180px;
    position: relative;
}

.info2  .info2-p-text .btn-shok-vacio{
    margin-left:0;
    position: absolute;
    bottom: 0px;
}




.info2-img{
    width: 634px;
    height: 546px;
}

.info2-img img{
    max-height: 100%;
}

.info3{
    display:grid!important;
    grid-template-columns:1fr 1fr;
    margin-top:116px;
    margin-left:286px;

}
.info3-title{
    padding-top:145px;
    margin-bottom: 36px;
}
.info3-title p{
  
    width: 350px;
height: 108px;
font-family: 'Montserrat';
font-weight: 400;
font-size:43px;

}
.info3-title p strong{
  font-weight: SemiBold;
    
}


.info3-contein{
    padding-bottom:222px;
}
.info3-contein p{
    font-family: 'Poppins';
    font-weight: 400;
    width: 536px;
height: 91px;
font-size: 18px;
}

.info4{
  margin-top:157px;
}
.info4 .info4-h2{
  width: 370px;
  height: 108px;
  text-align: center;
  margin:157px auto 81px;
}
.info4 .info4-h2 h2{
  letter-spacing: 0;
  color: #222222;
  font-weight: 400;
  font-size:43px;
} 

.info4 .info4-h2 h2 strong{
  letter-spacing: 0;
  
  font-weight: 600;
  font-size:43px;
} 

.font-monserrat{
  font-family: 'Montserrat';
}



/* .owl-item , .active{
  width:422px;
  height: 532px!important;
}
.owl-carousel .owl-stage-router .owl-stage .owl-item .card{
  width:422px;
  height: 532px;
  text-align: center;
}
.owl-carousel .owl-item .class_img{
  border-radius: 127px;
  opacity: 1;
  width: 254px!important;
height: 255px!important;
margin: 25px 84px 0;
}


.card-body{
  margin: 0;
    padding: 0;
}
.card .card-body .card-title{
  
 margin:39px 74px 25px;

 width: 274px;
height: 33px;
  font:  400 24px/24px 'Poppins'; 
  color:#222222;
}

.owl-carousel .card .card-body strong{
  
 
  font:  600 24px/24px 'Poppins'; 
  color:#222222;
}

.card .card-body .card-text{
  
  font: 400 15px/27px 'Poppins';
  letter-spacing: 0;
  color: #555555;
  opacity: 1;
  width: 304px;
  height: 91px;
  margin:0 59px 64px;
} */

.info5{
  margin-top:253px;
}
.info5-title{
  width: 486px;
  height: 53px;
  text-align: center;
  letter-spacing: 0;
  color: #222222;
  opacity: 1;
  margin:0 712px 141px 722px;
}
.info5-title p strong{
  font:600 43px/55px 'Montserrat';
}

.info5 .c1 .c2 .target-partnes{
  margin-top:45px;
}
.info5 .c1 {
  margin: 0 341px 0 348px;
}
.info5 .c1 .c2{
  display:flex;
}


.info5 .c1 .c2 .target-partnes,.target-partnes2{
  text-align: center;
  width: 386px!important;
  height: 338px!important;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 10px 30px #99999933;
border-radius: 8px;
opacity: 1;
display: flex;
    align-items: center;
    justify-content: center;
}

.info5 .c1 .c2 .target-partnes2{
  margin-left:37px;
  margin-right:36px;
}

.learn-more{
  padding-top: 27px;
  padding-bottom: 33px;
}


.info6{
  margin-top:237px;
}

.info6-title{
  text-align:center;
}

.info6-title h3{
  font: 400 43px/55px 'Montserrat';
  letter-spacing: 0;
  color: #222222;
}
.info6-title h3 strong{
  font-weight: 600;

}
.carousel-container{
  
  width: 1613px;
height: 603px;
margin:59px 142px 0;
}
.carousel-div{
  display:inline-flex;
  position:relative;
  width: 1613px;
height: 603px;
justify-content: center;
}

#carousel-item-1{
  width: 74px;
  height: 76px;
  position:absolute;
  bottom:289px;
  left:20px;
}
#carousel-item-2{
  width: 112px;
  height: 114px;
  position:absolute;
  bottom: 25px;
  left:148px;
}

#carousel-item-3{
    margin-top:18px;
    width: 189px;
      height: 192px;
}

#carousel-item-4{
  width: 113px;
  height: 116px;
  position:absolute;
  right:175px;
}

#carousel-item-5{
  width: 75px;
  height: 76px;
  position:absolute;
  bottom:261px;
  right:0;
}

.carousel-div .carousel-div-item img{
  width: 100%;
  height: 100%;
  box-shadow:0px 10px 30px #99999933;
  border-radius: 127px;
}

.carousel-div .carousel-item-p{
  width: 642px;
  height: 122px;
  position:absolute;
  left:494px;
  margin-top: 253.77px;
  text-align: center;
font: 400 24px/34px 'Montserrat';
letter-spacing: 0.48px;
color: #333333;
opacity: 1;
}

.carousel-div .carousel-item-name{
  width: 244px;
  position:absolute;
  left:691px;
height: 23px;
bottom: 250px;
text-align: center;
font: 500 19px/36px 'Montserrat';
letter-spacing: 0.38px;
color: #222222;
opacity: 1;
}

.carousel-div .carousel-item-work{
  position:absolute;
  left:738px;
  width: 154px;
height: 20px;
bottom:117px;
text-align: center;
font: 400 17px/36px 'Montserrat';
letter-spacing: 0.34px;
color: #222222;
opacity: 1;
}

.carousel-div .quote-left{
  position:absolute;
  top:238px;
  left:396.76px;

}

.carousel-div .quote-right{
  position:absolute;
  top:238px;
  right:379px;
  
}

.info7 .info7-container{
  width: 1932px;
height: 1086px;
  background: transparent linear-gradient(1deg, #FFFFFF 0%, #C9E6FF 100%) 0% 0% no-repeat padding-box;
}

.info7 .info7-container .info7-container-2{
  width: 1827px;
height: 990px;
margin:auto;
}

.info7-title{
  width: 498px;
height: 108px;
  text-align: center;
font: 400 43px/55px 'Montserrat';
letter-spacing: 0;
color: #222222;
}