<section class="info5">
    <div class="info5-title">
      <h3><strong>Our Partnes & Clients</strong></h3>
    </div>
  
    <div class="c1">
      <div class="c2">
        <div class="target-partnes " id="img-1">
          <div>
            <img src="../../assets/big immersity logo.png" alt="" />
            <div class="learn-more"><a href="">Learn More</a></div>
          </div>
        </div>
        <div class="target-partnes2 " id="img-2">
          <div>
            <img  src="../../assets/logo_ipass.png" alt="" />
            <div class="learn-more"><a href="">Learn More</a></div>
          </div>
        </div>
        <div class="target-partnes " id="img-3">
          <div>
            <img  src="../../assets/logo-rojo.png" alt="" />
            <div class="learn-more"><a href="">Learn More</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="c1">
      <div class="c2">
        <div class="target-partnes " id="img-4">
          <div>
            <img id="" src="../../assets/logo_splash.png" alt="" />
            <div class="learn-more"><a href="">Learn More</a></div>
          </div>
        </div>
        <div class="target-partnes2 " id="img-5">
          <div>
            <img src="../../assets/Group 94.png" alt="" />
            <div class="learn-more"><a href="">Learn More</a></div>
          </div>
        </div>
        <div class="target-partnes " id="img-6">
          <div>
            <img src="../../assets/Group 2788.png" alt="" />
            <div class="learn-more"><a href="">Learn More</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
