<section class="info5">
    <div class="info5-title">
      <p><strong>Our Partnes & Clients</strong></p>
    </div>
  
    <div class="c1">
      <div class="c2">
        <div class="target-partnes ">
          <div>
            <img id="" src="../../assets/big immersity logo.png" alt="" />
            <div class="learn-more"><a href="">Learn More</a></div>
          </div>
        </div>
        <div class="target-partnes2 ">
          <div>
            <img src="../../assets/logo_ipass.png" alt="" />
            <div class="learn-more"><a href="">Learn More</a></div>
          </div>
        </div>
        <div class="target-partnes ">
          <div>
            <img src="../../assets/logo-rojo.png" alt="" />
            <div class="learn-more"><a href="">Learn More</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="c1">
      <div class="c2">
        <div class="target-partnes ">
          <div>
            <img id="" src="../../assets/logo_splash.png" alt="" />
            <div class="learn-more"><a href="">Learn More</a></div>
          </div>
        </div>
        <div class="target-partnes2 ">
          <div>
            <img src="../../assets/Group 94.png" alt="" />
            <div class="learn-more"><a href="">Learn More</a></div>
          </div>
        </div>
        <div class="target-partnes ">
          <div>
            <img src="../../assets/Group 2788.png" alt="" />
            <div class="learn-more"><a href="">Learn More</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
